<section class="Habitaciones__room">
    <div class="room__info">
        <div class="room__data">
            <h2>2 Queen room</h2>
            <p>Dos camas Queen size</p>
            <p><span class="user-icon"></span>2</p>
            <p><span class="plus-icon"></span>Balcon incluido</p>
        </div>
        <div>
            <h3>Huespedes</h3>
            <div>
                <p>Efrain Alberto Rodriguez Castro</p>
            </div>
            <div>
                <p>Maria del Socorro Lozano Ruiz</p>
            </div>
        </div>
    </div>
    <div>
        <img class="room__img" src="" alt="">
        <span class="cross-exit"></span>
    </div>
</section>