@font-face {
    font-family: 'Josefin-Sans';
    src: url('../assets/fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

:root {
    /* Colors */
    --primary-color: #94A684;
    --secondary-color: #f4ecdc;
    --secondary-color-hard:#EEE3CB;
    --secondary-color-medium: #f9f6ee;
    --secondary-color-light: #fcfaf6;
    --black: #151515;
    --gray: #959595;
        /* Fonts */
    --titles-font: 'Josefin-Sans', sans-serif;
    --content-font: 'Inter', Arial, Helvetica, sans-serif;
    /* Title-size */
    --title: 700 3.6rem/1.5 var(--titles-font);
    --subtitle: 600 2.4rem var(--titles-font);
    --subtitle-small: 700 1.8rem var(--titles-font);
    /* Content-size */
    --content: 1.4rem var(--content-font);
    --content-bold: 700 1.4rem var(--content-font);
    --content-small: 1.0rem var(--content-font);
    --content-small-bold: 700 1.0rem var(--content-font);
    --content-small-semibold: 600 1.0rem var(--content-font);
        /*shadow*/
    --shadow-medium: 0px 3px 4px 0px rgba(9, 30, 66, 0.10);
    --shadow-large: 0px 8px 12px 0px rgba(9, 30, 66, 0.10);
    --text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

html {
    font-size: 62.5%;
    font-family: var(--content-font);
    margin: 0 16px;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 10% auto 10%;
    background-color: var(--secondary-color-light);
}
@media screen and (min-width: 992px) {
    body{
        font-size: var(--content);
    }
    main{
        margin: 0 10%;
    }
}
main{
    grid-row: 2;

}

h1{
    font: var(--title);
    color: var(--primary-color);
}

h2{
    font:var(--subtitle);
    color:var(--gray);
    padding-bottom: 16px;
}

a{
    text-decoration: none;
}

.Primary-subtitle{

}


table{
    border-spacing: 0 4px;
}


select {
    appearance: none;
    padding: 0.5em;
    /* Agrega un poco de espacio alrededor del select */
    border: 1px solid #ccc;
    /* Agrega un borde para resaltar el select */
    background-color: white;
    /* Fondo blanco */
    color: #333;
    /* Color de texto predeterminado */
    font-family: inherit;
    /* Utiliza la fuente heredada */
    font-size: inherit;
    /* Utiliza el tamaño de fuente heredado */
    line-height: inherit;
    /* Utiliza la altura de línea heredada */
}

/* Estilos adicionales para el hover o enfoque (opcional) */
select:hover,
select:focus {
    border-color: #007bff;
    /* Cambia el color del borde al pasar el cursor o enfocar */
    outline: none;
    /* Elimina el contorno de enfoque predeterminado */
}

table{
    width: 100%;
}


/* Logo */
.logo-small {
    width: 150px;
    height: 80px;
}

.logo-icon{
    width: 36px;
    height: 36px;
}
/*-----*/
    .overlay-button{
        display: flex;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        box-shadow: 0px 8px 28px rgba(130, 145, 117, 0.50);
        justify-content: center;
        align-items: center;
    }

    .overlay-button span{
        background-image: url('../assets/icons/menu.svg');
    }
/* Buttons */

/* ------------------ */

.background-green{
    background-color: var(--primary-color);
}


section{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin: 36px 0;
    gap: 24px;
}

article{
    width: 100%;
}

.icon{
    display: block;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content-small-semibold{
    font: var(--content-small-semibold);
}

/*----Header------------------------------*/

header{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.back-icon{
    background-image: url('../assets/icons/Back.svg');
}

.back-icon--dark{
    background-image: url('../assets/icons/Back-1.svg');

}



/*------------------------------------------*/

/*---------------------index---------------*/
.index {
    gap: 48px;
    margin: 0;
}

.index__weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.weather__temperature {
    display: flex;
    align-items: start;
    color: var(--secondary-color);
    font-size: 48px;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.50);
}

.weather__data {
    color: var(--secondary-color);
    font:var(--subtitle-small);
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.50);
}


.weather__temperature span {
    font-size: 32px;
}

.weather__select {
    height: 100%;
    width: 100%;
    padding: 0 8px;
    border: none;
    border-radius: 15px;
    background-color: var(--secondary-color-light);
    box-shadow: 0px 3px 4px 0px rgba(9, 30, 66, 0.10);
    color: var(--gray);
}

.cutom-select {
    width: 100%;
    position: relative;
    height: 24px;

}

.cutom-select span {
    position: absolute;
    top: 0;
    right: 4px;
    height: 100%;
    width: 24px;
    background-image: url('../assets/icons/cross-down-gray.svg');
    background-size: contain;
}

.main-grid-cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 155px);
    grid-auto-rows: 92px;
    gap: 16px;
}

.index__buttons a {
    display: flex;
    gap: 5px;
    width: 155px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: none;
    border-radius: 15px;
    background: var(--secondary-color-light);
    box-shadow: 0px 8px 26px 0px rgba(148, 166, 132, 0.50);
    font: var(--subtitle-small);
    color: var(--primary-color);
    line-height: 26px;
}

.index__buttons span{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: unset;
}

.global-icon{
    background-image: url('../assets/icons/globe.png');
}

.book-icon{
    background-image: url('../assets/icons/book-open.png');
}
.drink-icon{
    background-image: url('../assets/icons/coffe.png');
}
/*------------------------------------------*/
/*------------------Login------------------ */


.login{
    gap: 88px;
    text-align: center;
    margin: 0;
}

.login__form{
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.login__form h3{
    font: var(--subtitle);
    color: var(--secondary-color-light);
}

.form_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_content .input{
    min-width: 188px;
    max-width: 30%;
    height: 33px;
    margin-bottom: 13px;
    border: none;
    border-radius: 5px;
    padding: 0 8px;
}

.submit-input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 13px 0;
    width: 156px;
    height: 38px;
    border-radius: 5px;
    box-shadow: var(--shadow-medium);
    font: var(--content-bold);
    color: var(--primary-color);
    text-shadow: var(--text-shadow);
    box-shadow: var(--shadow-medium);
    background-color: var(--secondary-color-light);

}

/*-----------------------------------------*/

/* ---------------------Intranet---------- */

.intranet{
    align-items: start;
    gap: 24px;
}

.comments{
    width: 100%;
}

.comments__container{
    display: grid;
    grid-template-columns: repeat(auto-fit,156px);
    grid-auto-rows: max-content(156px);
}

.comments__card{
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: var(--secondary-color-medium);
    padding: 8px;
    border-radius: 5px;
    box-shadow: var(--shadow-medium);
}

.card__info{
    display: flex;
    justify-content: space-between;
}

.exit-icon{
    width: 14px;
    height: 14px;
    background-image: url('../assets/icons/close.svg');
}

.main-table{
    text-align: center;
}

.main-table__header th{
    padding: 8px;
}

.main-table td{
    background-color:var(--secondary-color-medium);
    padding: 8px;
    box-shadow: 0px 3px 4px 0px rgba(9, 30, 66, 0.10);
}



/*-----------------------------------------*/

/* Habitaciones */

.habitaciones{
    align-items: start;
    gap: 24px;
}

/* ------------ */

/* Bebidas */
.Bebidas{
    align-items: start;
}

.bebidas__container{
    justify-content: start;
}
.drink__card{
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: var(--secondary-color-light);
    box-shadow: var(--shadow-large);
    border-radius: 15px;
}
.drink__image{
    width: 50%;
    height: 100%;
    right: 0;
    float: right;
    object-fit: cover;
}
.drink__card p{
    padding: 4px;
    width: 50%;
    text-align: center;
}
/* ---------- */

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 3;
}

.footer__social-media {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 32px;
}

footer li {
    width: 24px;
    height: 24px;
}

.facebook-icon {
    background: url('../assets/icons/facebook.svg');
}

.instagram-icon {
    background: url('../assets/icons/instagram.svg');
}

.twitter-icon {
    background: url('../assets/icons/Twitter.svg');
    background-repeat: no-repeat;
}

.youtube-icon {
    background: url('../assets/icons/youtube.svg');
}